[submodule "10-repos/evozeus"]
	path = 10-repos/evozeus
	url = https://github.com/MetaInFLow/EvoZeus.git
[submodule "10-repos/evozeus-session-signal-skill"]
	path = 10-repos/evozeus-session-signal-skill
	url = https://github.com/MetaInFLow/evozeus-session-signal-skill.git
[submodule "10-repos/evozeus-infra"]
	path = 10-repos/evozeus-infra
	url = https://github.com/MetaInFLow/evozeus-infra.git
[submodule "10-repos/evozeus-web"]
	path = 10-repos/evozeus-web
	url = https://github.com/MetaInFLow/evozeus-web.git
[submodule "10-repos/EvoZeus-wrapper"]
	path = 10-repos/EvoZeus-wrapper
	url = https://github.com/MetaInFLow/EvoZeus-wrapper.git
